* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
}

.header .container {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 152px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  list-style: none;
  font-family: Roboto, 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  margin-right: 40px;
}

.menu__item a {
  text-decoration: none;
  color: #274c5b;
}

.menu__item__active a {
  color: #7eb693;
}

.order {
  border: 1px solid #d4d4d4;
  border-radius: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 159px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Roboto, 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 17px;
  color: #274c5b;
}

.order .order__basket {
  background: #274c5b;
  border-radius: 100px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .order__basket img {
  width: 26px;
  height: 24px;
}

.order .order__count {
  margin-right: 10px;
}

.welcome {
  background-color: #f2f0f1;
}

.welcome .container {
  background-image: url(./assets/img/welcome.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 913px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .container .explore {
  width: 40%;
}

.welcome .container .explore > p {
  font-family: Yellowtail;
  font-size: 36px;
  line-height: 65px;
  color: #7eb693;
  text-transform: capitalize;
  margin-bottom: 14px;
}

.welcome .container .explore h1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: #274c5b;
  margin-bottom: 30px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: capitalize;
  color: #274c5b;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  background: #efd372;
  border: 1px solid #efd372;
  border-radius: 16px;
  width: 219px;
  height: 82px;
}

button .button__arrow {
  background: #335b6b;
  width: 38px;
  height: 34px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__items .offer__item {
  position: relative;
  max-width: 665px;
}

.offer__items .offer__item img {
  width: 100%;
}

.offer__items .offer__item .offer__discription {
  position: absolute;
  top: 30%;
  left: 0;
  margin-left: 10%;
  width: 35%;
}

.offer__items .offer__item .offer__discription h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #7eb693;
}

.offer__items .offer__item .offer__discription p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #274c5b;
}

.offer__items .offer__item:first-child h2 {
  color: #fff;
}

.offer__items .offer__item:first-child p {
  color: #fff;
}

.about-us {
  background: #f9f8f8;
}

.about-us__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 30px 140px;
}

.about-us__items .about-us__item {
  width: 50%;
}

.about-us__items .about-us__item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #fff;
  background: #274c5b;
  border: 1px solid #274c5b;
  border-radius: 16px;
  width: 199px;
  height: 82px;
  margin-top: 50px;
}

.about-us__items .about-us__item button p {
  color: #fff;
  font-family: Roboto, 'Open Sans', sans-serif;
}

.about-us__items h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7eb693;
}

.about-us__items h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274c5b;
}

.about-us__items p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525c60;
  margin-top: 22px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.advantage .advantage__img {
  min-width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage img {
  width: 46px;
  height: 46px;
}

.advantage .advantage_desc__head {
  font-size: 25px;
  line-height: 35px;
  color: #274c5b;
}

.advantage .advantage_desc {
  margin-left: 20px;
}

.advantage .advantage_desc__text {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 32px;
  color: #525c60;
}

.our-products_block {
  padding: 120px 30px;
}

.our-products_block h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7eb693;
}

.our-products_block h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274c5b;
}

.our-products_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.our-products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(33.33% - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #f9f8f8;
  border-radius: 30px;
  overflow: hidden;
  margin: 20px 0;
}

.our-products-item .our-products-item__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 67px;
}

.our-products-item_body {
  padding: 0 30px;
}

.our-products-item__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
  left: 30px;
  position: absolute;
  background: #274c5b;
  border-radius: 8px;
  width: 118px;
  height: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.our-products-item__name {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274c5b;
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-products-item_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  padding-bottom: 35px;
}

.our-products-item_price .old_price {
  width: 30%;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #b8b8b8;
}

.our-products-item_price .new_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274c5b;
  width: 30%;
}

.our-products-item_price .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.our-products-item__name::after {
  content: "";
  border: 1px solid #d4d4d4;
  margin-top: 11px;
  margin-bottom: 9px;
}

.testimonial_block {
  background: url(./assets/img/Testimonial_background.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 130px 0 97px 0;
}

.testimonial_block h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7eb693;
}

.testimonial_block h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274c5b;
}

.user_testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 95px;
}

.user_testimonial .user_testimonial_image {
  width: 115px;
  height: 115px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.user_testimonial .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.user_testimonial .rating .rating_star {
  width: 21px;
  height: 20px;
}

.user_testimonial .user_testimonial_text {
  margin-bottom: 33px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525c60;
  width: 63%;
}

.user_testimonial .user_testimonial_name {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.36px;
  color: #274c5b;
}

.user_testimonial .user_testimonial_type {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525c60;
}

.user_testimonial::after {
  content: '';
  border: 1px solid #e0e0e0;
  width: 70%;
  margin-top: 50px;
}

.benefits_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.benefit_outside_block {
  width: 250px;
  height: 250px;
  border: 6px solid #7eb693;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.benefit_inside_block {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border: 5px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  color: #274c5b;
}

.benefit_inside_block .benefit_count {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 55px;
}

.offer_products {
  background: #274c5b;
}

.offer_products_block {
  padding: 140px 30px;
}

.offer_products_block .our-products_items {
  padding: 0;
}

.offer_products_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer_products_header h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7eb693;
}

.offer_products_header h3 {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */